h1{
	text-align:center;
	color: white;
}
body{ 
	background-color: pink;
	margin: 20px;
}
img{
	height: 200px; 
	width: 400px;
}
a{
	color: white;
}
.table{
	height: 100px;
	width: 400px;
}
.jumbotron{
	background-color: #454d55;

}
.card{
	margin-top: 20px;
}
